@model PagedList.IPagedList<VB_PROJECTS_NOTES.Models.Region>
@using PagedList.Mvc;
@using PagedList.Core.Mvc;
@using PagedList;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Region" asp-action="Index" method="get">
    <div class="row">

        <div class="col-3">

        </div>
        <div class="col-5">
            <input class="form-control" name="SearchString" type="text" placeholder="Region Name">

        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-light">Search</button>

        </div>


    </div>
</form>

<br />
<br />


<div class="row">


    <div class="col-9">
        <button type="button" class="btn btn-secondary btn-sm float-left" onclick="location.href='@Url.Action("Index", "Region")'">Show All Regions</button>
    </div>

    <div class="col-3">
        <button type="button" class="btn btn-success btn-sm  float-right" onclick="location.href='@Url.Action("Create", "Region")'">New Region</button>
    </div>

</div>


<br />
<br />
<h4>Regions</h4>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="Region" asp-action="Index" method="get">
    <div class="row">
        @{ var i = 1; }
        <div class="col-4">

            <ul class="pagination">

                @if (Model.PageNumber > 1)
                {
                    <li class="page-item"><button type="submit" name="pagina" value="1" class="page-link" href="#">First</button></li>
                }

                @for (i = 1; i <= Model.PageCount; i++)
                {
                    if (@i == Model.PageNumber)
                    {
                        <li class="page-item"><button type="submit" name="pagina" value="@i" class="page-link" href="#" disabled="disabled" style="background: #e8eaec; color: #8b9aa9;">@i</button></li>
                    }

                    else
                    {
                        <li class="page-item"><button type="submit" name="pagina" value="@i" class="page-link" href="#">@i</button></li>
                    }
                }
                @if (Model.PageNumber != (@i - 1))
                {
                    <li class="page-item"><button type="submit" name="pagina" value="3" class="page-link" href="#">Last</button></li>
                }


            </ul>
        </div>


    </div>
</form>

Page @Model.PageNumber of @Model.PageCount

